@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0a1014;
}

::-webkit-scrollbar-thumb {
    background: #1f2933;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #00e572;
}